.withOutUL {
    text-decoration: none;
}
.nav {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}

.btn {
    display: flex;
    flex-direction: row;
}

.tf { 
    display: flex;
    margin: 0px 20px;
    margin-top: 0px;
    margin-bottom: 10px;
}